In [1]:
import tweepy
import json
import pandas as pd
import random

In [6]:
# Authentication Keys

consumer_key = 'oasBl5z8gOK7Q3PNoiOiqLZNs'
consumer_key_secret = 'blmLWYnC5omThauKWSx95FR35U8hiBxS1gp81jXApWd3OtX9oF'
access_token = '1272637484577353728-Ik68xPgo7SkXpx7dCqmbIscIHZmUAX'
access_token_secret = 'HjAOZWg87IwukA35zIHipG74TK8A1ITbsl8uVo7TH7Yhb'

In [7]:
auth = tweepy.OAuthHandler(consumer_key, consumer_key_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

In [77]:
text = []
time = []
category = []
location = []

In [122]:
api = tweepy.API(auth)

c = tweepy.Cursor(api.search, q='accident in delhi')
c.pages(5000)

for tweet in c.items():
    text.append(tweet._json['text'])
    time.append(tweet._json['created_at'])
#     location.append(tweet._json['location'])
    category.append('cyber crime')

In [125]:
len(text), len(time), len(category), len(location)

(6020, 6020, 6020, 6020)

In [124]:
text=text+text
time = time+time
category = ['accident' for i in range(len(text))]
location = ['Delhi' for i in range(len(text))]

In [126]:
df1 = pd.DataFrame(list(zip(text,category,time,location)),columns=['Text','Category','Time','Location'])
df1

,Text,Category,Time,Location
0,दिल्ली की खूबसूरत सड़कों का बदसूरत सच\nhttps:/...,accident,Tue Oct 26 10:47:20 +0000 2021,Delhi
1,दिल्ली में तीन मंजिला इमारत में आग लगने से चार...,accident,Tue Oct 26 10:31:17 +0000 2021,Delhi
2,దిల్లీలో ఘోర అగ్ని ప్రమాదం.. నలుగురు సజీవదహనం\...,accident,Tue Oct 26 08:55:00 +0000 2021,Delhi
3,#AccidentInDelhi\nBig Accident In Delhi ऐसा क्...,accident,Tue Oct 26 08:15:18 +0000 2021,Delhi
4,"दिल्ली: एक मकान में लगी भीषण आग, दम घुटने से 4...",accident,Tue Oct 26 07:57:59 +0000 2021,Delhi
...,...,...,...,...
6015,RT @apradhan1968: Dear @dtptraffic please take...,accident,Mon Oct 18 15:47:48 +0000 2021,Delhi
6016,RT @apradhan1968: Dear @dtptraffic please take...,accident,Mon Oct 18 15:25:44 +0000 2021,Delhi
6017,RT @apradhan1968: Dear @dtptraffic please take...,accident,Mon Oct 18 15:21:39 +0000 2021,Delhi
6018,RT @apradhan1968: Dear @dtptraffic please take...,accident,Mon Oct 18 15:07:59 +0000 2021,Delhi
6019,Dear @dtptraffic please take note of the falle...,accident,Mon Oct 18 14:53:31 +0000 2021,Delhi

In [135]:
df = pd.read_csv("dataset.csv")
df

,Unnamed: 0,Text,Category,Time,Location
0,0,RT @boltaup: बलात्कार के मामलों में दूसरे नंबर...,rape,Fri Sep 17 02:04:25 +0000 2021,Punjab
1,1,RT @nevans1984: Why Ransomware Hackers Love Ho...,theft,Fri Sep 10 09:55:15 +0000 2021,Chhattisgarh
2,2,20 years old BSC RADIOLOGY Student from #Budga...,murder,Mon Sep 13 08:47:47 +0000 2021,Maharashtra
3,3,Among India's metro cities with over 20 lakh p...,murder,Fri Sep 17 06:13:13 +0000 2021,Bihar
4,4,RT @KairaMorgan: I marched for the sister I lo...,rape,Thu Sep 16 14:56:20 +0000 2021,Haryana
...,...,...,...,...,...
24510,6015,RT @apradhan1968: Dear @dtptraffic please take...,accident,Mon Oct 18 15:47:48 +0000 2021,Delhi
24511,6016,RT @apradhan1968: Dear @dtptraffic please take...,accident,Mon Oct 18 15:25:44 +0000 2021,Delhi
24512,6017,RT @apradhan1968: Dear @dtptraffic please take...,accident,Mon Oct 18 15:21:39 +0000 2021,Delhi
24513,6018,RT @apradhan1968: Dear @dtptraffic please take...,accident,Mon Oct 18 15:07:59 +0000 2021,Delhi
24514,6019,Dear @dtptraffic please take note of the falle...,accident,Mon Oct 18 14:53:31 +0000 2021,Delhi

In [127]:
df.drop(columns=['Unnamed: 0'], inplace=True)
df

,Text,Category,Time,Location
0,RT @boltaup: बलात्कार के मामलों में दूसरे नंबर...,rape,Fri Sep 17 02:04:25 +0000 2021,Punjab
1,RT @nevans1984: Why Ransomware Hackers Love Ho...,theft,Fri Sep 10 09:55:15 +0000 2021,Chhattisgarh
2,20 years old BSC RADIOLOGY Student from #Budga...,murder,Mon Sep 13 08:47:47 +0000 2021,Maharashtra
3,Among India's metro cities with over 20 lakh p...,murder,Fri Sep 17 06:13:13 +0000 2021,Bihar
4,RT @KairaMorgan: I marched for the sister I lo...,rape,Thu Sep 16 14:56:20 +0000 2021,Haryana
...,...,...,...,...
18490,RT @boltaup: बलात्कार के मामलों में दूसरे नंबर...,rape,Thu Sep 16 09:54:20 +0000 2021,Madhya Pradesh
18491,RT @meetgoogle: @SunitaNandwani3 औरत वह बनो जो...,rape,Sat Sep 18 04:31:31 +0000 2021,Kerala
18492,RT @punjabkesari: साल 2020 में देश में साइबर क...,cyber crime,Thu Sep 16 17:43:45 +0000 2021,Karnataka
18493,Why Ransomware Hackers Love Holidays Analytic...,theft,Fri Sep 10 09:55:03 +0000 2021,Rajasthan
18494,Why Ransomware Hackers Love Holidays Analytic...,theft,Fri Sep 10 09:55:03 +0000 2021,Maharashtra

In [130]:
df2 = pd.concat([df,df1])
df2

,Text,Category,Time,Location
0,RT @boltaup: बलात्कार के मामलों में दूसरे नंबर...,rape,Fri Sep 17 02:04:25 +0000 2021,Punjab
1,RT @nevans1984: Why Ransomware Hackers Love Ho...,theft,Fri Sep 10 09:55:15 +0000 2021,Chhattisgarh
2,20 years old BSC RADIOLOGY Student from #Budga...,murder,Mon Sep 13 08:47:47 +0000 2021,Maharashtra
3,Among India's metro cities with over 20 lakh p...,murder,Fri Sep 17 06:13:13 +0000 2021,Bihar
4,RT @KairaMorgan: I marched for the sister I lo...,rape,Thu Sep 16 14:56:20 +0000 2021,Haryana
...,...,...,...,...
6015,RT @apradhan1968: Dear @dtptraffic please take...,accident,Mon Oct 18 15:47:48 +0000 2021,Delhi
6016,RT @apradhan1968: Dear @dtptraffic please take...,accident,Mon Oct 18 15:25:44 +0000 2021,Delhi
6017,RT @apradhan1968: Dear @dtptraffic please take...,accident,Mon Oct 18 15:21:39 +0000 2021,Delhi
6018,RT @apradhan1968: Dear @dtptraffic please take...,accident,Mon Oct 18 15:07:59 +0000 2021,Delhi
6019,Dear @dtptraffic please take note of the falle...,accident,Mon Oct 18 14:53:31 +0000 2021,Delhi

In [132]:
df2['Category'].unique()

array(['rape', 'theft', 'murder', 'cyber crime', 'accident'], dtype=object)

In [134]:
df2.to_csv('dataset.csv')